/* Default */
:root {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 1.6rem;
}

input,
button {
  font-family: inherit;
  font-size: 100%;
}

/* Color Variables */
:root {
  --color-1: #222831;
  --color-2: #393e46;
  --color-3: #00adb5;
  --color-4: #eeeeee;
  --primary-bg-color: var(--color-1);
  --secondary-bg-color: var(--color-2);
  --heading-font-color: var(--color-3);
  --normal-font-color: var(--color-4);
  --accent-font-color: var(--color-3);
  --border-color: var(--color-3);
}

/* Default Colors */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-font-color);
}

p {
  color: var(--normal-font-color);
}

a {
  color: var(--accent-font-color);
}

img {
  color: var(--accent-font-color);
}

span,
label {
  color: var(--accent-font-color);
}

body {
  background-color: var(--primary-bg-color);
}

*,
*::before,
*::after {
  border-color: var(--border-color);
}

/* Layout */
body {
  display: grid;
  grid-template-columns: minmax(max-content, 15%) minmax(80%, 1fr);
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.header-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  flex: 1;
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-label {
  display: flex;
  align-items: center;
}

.user-info-short {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-bottom {
  display: flex;
}

.user-info-long {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% repeat(2, 1fr);
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-list {
  display: grid;
  gap: 20px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 15px;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 200px);
  gap: 20px;
}

.announcements {
  grid-area: announcements;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trending {
  grid-area: trending;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.announcements-wrapper,
.trending-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.trending-item {
  display: flex;
  gap: 15px;
}

/* Dimensions */
.sidebar-link {
  width: max-content;
}

.search-input {
  height: 35px;
  width: 50%;
}

.user-short-image {
  height: 40px;
  width: 40px;
}

.user-long-image {
  height: 60px;
  width: 60px;
}

.post-action-button {
  width: 100px;
  height: 40px;
}

.trending-image {
  height: 40px;
  width: 40px;
}

/* Spacing */
.sidebar > * {
  padding-left: 10%;
}

.sidebar-list {
  margin-top: 30px;
}

.header {
  padding: 5px 40px;
}

.search-input {
  padding: 5px;
  padding-left: 15px;
}

.header-bottom {
  margin-top: 10px;
  padding-bottom: 5px;
}

.name {
  margin-top: 10px;
}

.post-action-button {
  padding: 10px 15px;
  margin-right: 10px;
}

.main {
  padding: 15px;
}

.project {
  padding: 15px;
}

.actions {
  margin-top: 35px;
}

.project-title {
  margin-bottom: 10px;
}

.announcements,
.trending {
  margin-left: 20px;
}

.announcements-wrapper,
.trending-wrapper {
  margin-right: 15px;
  padding: 25px;
}

.announcement,
.trending-item {
  padding-bottom: 15px;
}

.trending {
  margin-top: 15px;
}

.trending-name {
  margin-bottom: 5px;
}

.announcement-title {
  margin-bottom: 5px;
}

/* Typography */
.title {
  font-size: 3rem;
  font-weight: 500;
}

.sidebar-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
}

.user-info-short {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 1px;
}

.wish {
  font-weight: bold;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.post-action-button {
  font-weight: bold;
}

.trending-name {
  font-weight: bold;
}

/* Colors */
.sidebar-link {
  color: var(--normal-font-color);
}

.search-input {
  color: var(--normal-font-color);
  background-color: var(--secondary-bg-color);
}

.post-action-button {
  color: var(--normal-font-color);
  background-color: var(--secondary-bg-color);
}

.action-button {
  background-color: transparent;
}

.project {
  background-color: var(--secondary-bg-color);
}

.announcements-wrapper,
.trending-wrapper {
  background-color: var(--secondary-bg-color);
}

/* Borders */
body {
  border: 2px solid var(--border-color);
}

.sidebar {
  border-right: 2px solid var(--border-color);
}

.logo {
  border-bottom: 2px dashed var(--border-color);
}

.header {
  border-bottom: 2px solid var(--border-color);
}

.search-input {
  border: none;
  border-radius: 15px;
}

.post-action-button {
  border: none;
  border-radius: 25px;
}

.project {
  border-left: 6px solid var(--border-color);
  border-radius: 5px;
}

.action-button {
  border: none;
}

.announcements-wrapper,
.trending-wrapper {
  border-radius: 5px;
}

.announcement:not(:last-child),
.trending-item:not(:last-child) {
  border-bottom: 2px solid var(--border-color);
}

/* Additional Stylings */
.sidebar-list {
  list-style: none;
}

.search-input {
  outline: none;
}

.notifications {
  cursor: pointer;
}

.user-info-short > * {
  cursor: pointer;
}

.post-action-button {
  outline: none;
  cursor: pointer;
}

.action-button {
  cursor: pointer;
}

.main {
  overflow: auto;
}

/* States */
.sidebar-link:hover,
.sidebar-link:focus {
  color: var(--accent-font-color);
}

.search-input:focus {
  border: 2px solid var(--border-color);
}

.post-action-button:hover,
.post-action-button:focus {
  border: 2px solid var(--border-color);
  background-color: var(--border-color);
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-bg-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-bg-color);
}
