/* Default */
:root {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 1.6rem;
}

input,
button {
  font-family: inherit;
  font-size: 100%;
}

/* Color Variables */
:root {
  --color-1: #222831;
  --color-2: #393e46;
  --color-3: #00adb5;
  --color-4: #eeeeee;
  --primary-bg-color: var(--color-1);
  --secondary-bg-color: var(--color-2);
  --heading-font-color: var(--color-3);
  --normal-font-color: var(--color-4);
  --accent-font-color: var(--color-3);
  --border-color: var(--color-3);
}

/* Default Colors */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-font-color);
}

p {
  color: var(--normal-font-color);
}

a {
  color: var(--accent-font-color);
}

img {
  color: var(--accent-font-color);
}

span,
label {
  color: var(--accent-font-color);
}

body {
  background-color: var(--primary-bg-color);
}

*,
*::before,
*::after {
  border-color: var(--border-color);
}

/* Layout */
body {
  display: grid;
  grid-template-columns: minmax(max-content, 20%) minmax(80%, 1fr);
  grid-template-rows: 15% 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  flex: 1;
}

.user-info-short {
  display: flex;
  gap: 10px;
}

.header-bottom {
  display: flex;
}

.user-info-long {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-bottom .actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% repeat(2, 1fr);
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav ul {
  display: grid;
  gap: 20px;
}

.operations ul {
  display: grid;
  gap: 20px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 300px);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 200px);
  gap: 20px;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

/* Dimensions */
.sidebar-link {
  color: var(--normal-font-color);
  width: max-content;
}

/* Spacing */
.sidebar > * {
  padding-left: 10%;
}

.sidebar-list {
  margin-top: 30px;
}

/* Typography */
.title {
  font-size: 3rem;
  font-weight: 500;
}

.sidebar a {
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
}

/* Colors */
.sidebar-link {
  color: var(--normal-font-color);
}

/* Borders */
.sidebar {
  border: 2px solid var(--border-color);
}

.logo {
  border-bottom: 2px dashed var(--border-color);
}

/* Additional Stylings */
.sidebar-list {
  list-style: none;
}

/* States */
.sidebar-link:hover {
  color: var(--accent-font-color);
}
